{% extends "base.html" %}

{% block content %}
<h2>Agregar Viaje al Carrito</h2>
<form action="{{ url_for('add_to_cart') }}" method="post">
    <label for="hotel">Hotel:</label>
    <input type="text" id="hotel" name="hotel" required><br>

    <label for="fecha_inicio">Fecha de Inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio" required><br>

    <label for="fecha_fin">Fecha de Fin:</label>
    <input type="date" id="fecha_fin" name="fecha_fin" required><br>

    <label for="habitaciones">Habitaciones Reservadas:</label>
    <input type="number" id="habitaciones" name="habitaciones" required><br>

    <input type="submit" value="Agregar al Carrito">
</form>
{% endblock %}
