<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internationalization Example with i18next</title>
    <script src="https://unpkg.com/i18next@21.6.6/dist/umd/i18next.min.js"></script>
    <script src="https://unpkg.com/i18next-browser-languagedetector@6.1.3/dist/umd/i18nextBrowserLanguageDetector.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-http-backend/2.5.2/i18nextHttpBackend.min.js" integrity="sha512-bBb+wrGRTx4MvHpksYb1Iv5oJ1o8ineCqpc0cnTgdJQhuAFJJ93SEVXxUOCptvt0vAqYdjzWO5emorYUBt6Ceg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="static/js/translations.js" defer></script>
</head>
<body>
    <h1 data-i18n="title"></h1>
    <p data-i18n="welcomeMessage"></p>
    <button onclick="changeLanguage('en')">English</button>
    <button onclick="changeLanguage('es')">Español</button>
</body>
</html>
